<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-3">
                <div id="logo_home">
                    <a href="https://energypremier.com" title="Energy Premier"><img
                            src="https://energypremier.com/index/img/logo.svg" alt="" style="margin-top: -4px"></a>
                </div>
            </div>
            <nav class="col-md-10 col-sm-10 col-xs-9">
                <ul id="primary_nav">
                    <li id="login"><a href="https://energypremier.com/login">Sign in</a></li>
                    <li id="buy"><a href="https://energypremier.com/register">Sign up</a></li>
                </ul>
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu" style="z-index: 1000;">
                    <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                    <ul>
                        <li><a href="https://energypremier.com">Home</a></li>
                        <li><a href="https://energypremier.com/about">About</a></li>
                        <li><a href="https://energypremier.com/features">Features</a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="show-submenu">How it works<i
                                    class="icon-down-open-mini"></i></a>
                            <ul>
                                <li><a href="https://energypremier.com/how-it-works-consumers">Consumers</a></li>
                                <li><a href="https://energypremier.com/how-it-works-suppliers">Suppliers</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- End main-menu -->
            </nav>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</header>
<!-- End Header =============================================== -->
<div ui-view=""></div>
<!-- Footer ================================================== -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h3>About us</h3>
                <p>We are energy pioneers, redefining the way retail energy power is bought and sold across the
                    world.</p>
                <p><img src="https://energypremier.com/index/img/logo.svg" alt="img" class="hidden-xs"/></p>
            </div>
            <div class="col-md-3 col-sm-4">
                <h3>About</h3>
                <ul>
                    <li><a href="https://energypremier.com/about">About</a></li>
                    <li><a href="https://energypremier.com/faq">FAQ</a></li>
                    <li><a href="https://energypremier.com/contact">Contact</a></li>
                    <li><a href="https://energypremier.com/login">Log in</a></li>
                    <li><a href="https://energypremier.com/register">Register</a></li>
                    <li><a href="https://energypremier.com/en/terms">Terms and conditions</a></li>
                </ul>
            </div>
        </div>
        <!-- End row -->
        <hr>
        <div class="row">
            <div class="col-sm-6">
                © Energy Premier 2017 - All Rights Reserved
            </div>
            <div class="col-sm-6">
                <div id="social_footer">
                    <ul>
                        <li><a href="https://www.facebook.com/energypremier/"><i class="icon-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/18219225/"><i class="icon-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</footer>
